# Virtual Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc

# Model Weights
*.pth
*.pt
*.tflite
*.h5

# Videos / Data
*.mp4
*.avi
*.mov

# Frontend
frontend/node_modules/
frontend/build/
.DS_Store

# Temporary Files
*.log
startup_log.txt
tmp_mp_test.txt
